<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modules.android.study">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>